# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
.venv/
venv/
.env
.pytest_cache/
.mypy_cache/
.coverage
coverage.xml
htmlcov/

# SQLite (se usarmos localmente depois)
rural.db

# IDE / SO
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp

# Docker
*.log
